@import "tailwindcss";


body, html {
  height: 100%;
  margin: 0;
}

body {
  background-image: url('/assets/img/background-table.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

